p {
  font-family: Arial, sans-serif;
  font-size: 30px;
  line-height: 1.6;
  text-align: left;  
  text-shadow: 2px 4px 9px rgba(0, 0, 0, 0.5);
}

.special {
  font-family: Pixelify Sans;
  color: #3a1841;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-family: Pixelify Sans;
  color: #782c40;
  text-align: center;
  font-size: 65px;
  text-shadow: 2px 4px 9px rgba(0, 0, 0, 0.5);
}
.titleimage {
  display:block;
  margin: auto;
  width: 50%;
}

.version {
  font-family: Pixelify Sans;
  color: #f4ffb6;
  margin-bottom: auto;
  text-align: right;
  font-size 18px;
}

.info {
  display:block;
  margin-left: auto;
  width: 50%;
}

.socials {
  display:block;
  margin: auto;
  width: 25%;
}

.socialicon {
  margin: 7%;
  width: 100%;
}

.bashamaicon {
  margin:2.5%;
  border-radius:25px;
}

.bashamaad {
  text-align: center;
}


.linkthing {
  margin:2.5%;
  border-radius:25px;
}

.funn {
  opacity: 0.27;
  display:block;
  margin: auto;
  width: 50%;
}



